.sub-news-container{
    background-color: #948465;
}

.sub-new-container{
    background-color: #baa377;
}

.newsslider-pager li{
    background-color: #baa377;
    border: 1px solid #5C5C5C;
}

.newsslider-pager{
    background-color: #948465;
}
​